@model lab15_maliarchuk.Models.Product

<h1>Редагування продукту</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" />
    </div>
    <button type="submit">Зберегти</button>
</form>
