@page
@model Product

<h1>Редагування продукту</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <label>Назва:</label>
    <input type="text" asp-for="Name" /><br />
    <label>Ціна:</label>
    <input type="number" asp-for="Price" /><br />
    <button type="submit">Зберегти</button>
</form>
