<h2>Редагування продукту</h2>
<form method="post" action="@Url.Action("Edit", "Product", new { id = ViewBag.Id })">
    <label>Назва продукту:</label>
    <input type="text" name="productName" value="@ViewBag.Product" />
    <button type="submit">Зберегти</button>
</form>
