@{
    ViewData["Title"] = "Home Page";
}

<h1>Ласкаво просимо!</h1>
<ul>
    <li><a href="@Url.Action("List", "Product")">Список продуктів</a></li>
    <li><a href="@Url.Action("Create", "User")">Створити користувача</a></li>
    <li><a href="@Url.Action("PlaceOrder", "Order")">Розмістити замовлення</a></li>
</ul>
