@{
    ViewData["Title"] = "Home Page";
}

<h1>Ласкаво просимо до нашого магазину</h1>
<p>Оберіть сторінку:</p>
<ul>
    <li><a href="/Product/List">Продукти</a></li>
    <li><a href="/User/List">Користувачі</a></li>
    <li><a href="/Order/PlaceOrder">Розмістити замовлення</a></li>
</ul>
