<h1>Welcome to E-Commerce</h1>
<ul>
    <li><a asp-controller="Product" asp-action="List">Список продуктів</a></li>
    <li><a asp-controller="User" asp-action="Create">Створити користувача</a></li>
    <li><a asp-controller="Order" asp-action="PlaceOrder">Зробити замовлення</a></li>
    <li><a asp-controller="Admin" asp-action="IndexAdmin">Увійти як Адмін</a></li>
</ul>
