@model lab15_maliarchuk.Models.User

<h1>Деталі користувача</h1>
<p><strong>Ім'я:</strong> @Model.Name</p>
<p><strong>Email:</strong> @Model.Email</p>
<a asp-controller="User" asp-action="List">Повернутися до списку</a>
