<h1>Створення користувача</h1>
<form asp-action="Create" method="post">
    <label>Ім'я':</label>
    <input type="text" name="name" required />
    <label>Email:</label>
    <input type="email" name="email" required />
    <button type="submit">Створити</button>
</form>
