@model List<string>

<h1>Адмін</h1>

<ul>
    <li><a asp-controller="Admin" asp-action="ManageUsers">Керування користувачами</a></li>
    <li><a asp-controller="Admin" asp-action="ManageProducts">Керування продуктами</a></li>
</ul>