<h1>Place Order</h1>
<form asp-action="PlaceOrder" method="post">
    <label>Назва продукту:</label>
    <input type="text" name="product" required />
    <label>Кількість:</label>
    <input type="number" name="quantity" required />
    <button type="submit">Order</button>
</form>
